<template>
    <div class="row justify-content-center">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Wallets</h4>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>User id</th>
                        <th>Balance</th>
                        <th colspan="3">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="wallet in Wallets" :key="wallet.id">
                        <td>{{wallet.user_id}}</td>
                        <td>{{wallet.balance}}</td>
                        <td>
                            <button type="submit" class="btn btn-danger mr-2" @click="Delete(wallet.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
                methods:{
            read(){
                var that = this;
                window.axios.get("api/wallet").then(function(response){
                    console.log(response);
                    that.Wallets = response.data;

                }).catch(function(error){
                    console.log(error);
                })
            }
        },
        data(){
            return{
                Wallets:[],
            }
        },
        mounted() {
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
