<template>
        <div class="row justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Add Genre</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" placeholder="Name" v-model="addGenre.name">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="add()">Submit</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Genre</h1>

                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" placeholder="Name" v-model="editGenre.genre_name" >
                    </div>
                    <button type="submit" class="btn btn-success mr-2"  @click="edit()">Edit</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Genre</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Genre Name</th>
                          <th colspan="2">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="genre in Genres" :key="genre.id">
                          <td>{{genre.genre_name}}</td>
                          <td>
                              <button type="submit" class="btn btn-primary mr-2" @click="setEdit(genre)"> Edit</button>
                          </td>
                          <td>
                              <button type="submit" class="btn btn-danger mr-2" @click="Delete(genre.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
</template>

<script>
    export default {
        methods:{
            add(){
                console.log(this.user_id);
                var formData = new FormData();
                formData.append("genre_name",this.addGenre.name);
                formData.append("user_id",this.user_id);
                this.addCategory = [];
                window.axios.post("api/genre",formData).then(function(response){
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }
                }).catch(function(error){
                    console.log(error);
                })
            },read(){
            var that = this;
            window.axios.get("api/genre").then(function(response){
                console.log(response);
                that.Genres = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },Delete(id){
            window.axios({method:"delete",url:"api/genre/"+id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(genre){
            this.editGenre = genre;
        },edit(){
                var that = this;
                var id = this.editGenre.id;
                var data = {
                    genre_name:this.editGenre.genre_name,
                }
            window.axios({method:"put",url:"api/genre/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }

            }).catch(function(error){
                console.log(error);
            })
        }
        },data(){
            return{
            addGenre:[],
            editGenre:[],
            Genres:[],
            user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
