<template>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Questions</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Question Content</th>
                          <th>Survey</th>
                          <th>Answer_Type</th>
                          <th colspan="3">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="question in Questions" :key="question.id" >
                          <td>{{question.question_content}}</td>
                          <td>{{question.survey_id}}</td>
                          <td>{{question.answer_type}}</td>
                          <td>
                              <button type="submit" class="btn btn-info mr-2" @click="viewQuestionInfo(question)">View</button>
                              <button type="submit" class="btn btn-primary mr-2" @click="getQuestionEdit(question)">Edit</button>
                              <button type="submit" class="btn btn-success mr-2" @click="appendOptions(question.id)">Add Options</button>
                              <button type="submit" class="btn btn-danger mr-2" @click="deleteQuestion(question.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Add Options</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Option Content</label>
                      <input type="text" class="form-control" placeholder="Question Content" v-model="addOption.content">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="question_id" />
                        {{OptionStatus}}
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="addOptionToApi()">Add</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">View Question</h1>
                  Question Content: {{viewQuestion.question_content}}<br>
                  Survey: {{viewQuestion.survey_id}}<br>
                  Answer Type: {{viewQuestion.answer_type}}<br>
                  <div class="table-responsive">
                    <table class="table table-hover">
                        <tr v-for="option in viewOption" :key="option.id">
                            <td>{{option.option_content}}</td>
                            <td><button type="submit" class="btn btn-primary mr-2" @click="setEditOption(option)">Edit</button>
                            <button type="submit" class="btn btn-danger mr-2" @click="deleteOption(option.id)">Delete</button></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" class="form-control" placeholder="Option Content" v-model="editOption.option_content">
                                <br />
                                <div class="form-group">
                                    {{editOptionStatus}}
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary mr-2" @click="EditOption()">Edit</button>
                            </td>

                        </tr>
                    </table>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Add Question</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Question Content</label>
                      <input type="text" class="form-control" placeholder="Question Content" v-model="addQuestion.content">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Answer Type</label>
                      <select class="form-control" rows="2" v-model="addQuestion.answer_type">
                            <option>Text box</option>
                            <option>Text Area</option>
                            <option>Check Box</option>
                            <option>Radio Button</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Surveys</label>
                      <select class="form-control" rows="2" v-model="addQuestion.survey_id">
                            <option v-for="survey in Surveys" :key="survey.id" :value="survey.id">
                                {{survey.survey_name}}
                            </option>

                      </select>
                    </div>

                    <button type="submit" class="btn btn-success mr-2" @click="add()">Add</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Question</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Question Content</label>
                      <input type="text" class="form-control" placeholder="Question Content" v-model="editQuestion.question_content">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Answer Type</label>
                      <select class="form-control" rows="2" v-model="editQuestion.answer_type">
                            <option>Text box</option>
                            <option>Text Area</option>
                            <option>Check Box</option>
                            <option>Radio Button</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
                </div>
              </div>
            </div>
        </div>
</template>

<script>
    export default {
        methods:{
            add(){
                var formData = new FormData();
                formData.append("question_content",this.addQuestion.content);
                formData.append("answer_type",this.addQuestion.answer_type);
                formData.append("survey_id",this.addQuestion.survey_id);
                formData.append("user_id",this.user_id);
                this.addQuestion = [];
            window.axios.post("api/question",formData).then(function(response){
                console.log(response)
                if(response.data.data == 'error'){
                    alert(response.data.message);
                }
                if(response.data.data == 'success'){
                    alert(response.data.message);
                    location.reload();
                }
            }).catch(function(error){
                console.log(error);
            })
            },readSurvey(){
            var that = this;
            window.axios.get("api/survey").then(function(response){
                console.log(response);
                that.Surveys = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },
        read(){
            var that = this;
            window.axios.get("api/question").then(function(response){
                console.log(response);
                that.Questions = response.data;
                var question;
                for(question in that.Questions){
                    that.getQuestionToSurvey(that.Questions[question].survey_id,question);
                }

            }).catch(function(error){
                console.log(error);
            })
        },getQuestionToSurvey(id,question_id){
            var that = this;
            window.axios.get("api/survey/"+id).then(function(response){
                console.log(response);
                that.Questions[question_id].survey_id_store = id;
                that.Questions[question_id].survey_id = response.data.survey_name;
            }).catch(function(error){
                console.log(error);
            })
        },addOptionToApi(){
            if(window.jQuery("#question_id").val()){
                var formData = new FormData();
                formData.append("option_content",this.addOption.content);
                formData.append("question_id",window.jQuery("#question_id").val());
                this.addOption = [];
                window.axios.post("api/option",formData).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }
                }).catch(function(error){
                    console.log(error);
                })
            }else{
                alert("Click on Add Option For the Question you want to add an option to");
            }

        },appendOptions(id){
            window.jQuery("#question_id").val(id);
            this.OptionStatus="is Set";
        },
        viewQuestionInfo(question){
            this.viewQuestion = question;
            this.getOptionsFromQuestions(question.id);
        },getQuestionEdit(question){
            this.editQuestion = question;
            console.log(this.editQuestion);
        },
        getOptionsFromQuestions(id){
            var that = this;
            window.axios.get("api/option/"+id+"/question").then(function(response){
                console.log(response);
                that.viewOption = response.data;
            }).catch(function(error){
                console.log(error);
            })
        },
        edit(){
            var that = this;
                var id = this.editQuestion.id;
                var data = {
                    question_content:this.editQuestion.question_content,
                    answer_type:this.editQuestion.answer_type
                }
            window.axios({method:"put",url:"api/question/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }

            }).catch(function(error){
                console.log(error);
            })
        },EditOption(){
                var that = this;
                var id = this.editOption.id;
                var data = {option_content:this.editOption.option_content,}

            window.axios({method:"put",url:"api/option/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }

            }).catch(function(error){
                console.log(error);
            })

        },
        deleteQuestion(question_id){
            window.axios({method:"delete",url:"api/question/"+question_id}).then(function(response){
                console.log(response);
                if(response.data.data == 'error'){
                    alert(response.data.message);
                }
                if(response.data.data == 'success'){
                    alert(response.data.message);
                }
            }).catch(function(error){
                console.log(error);
            })
        },
        deleteOption(option_id){
            window.axios({method:"delete",url:"api/option/"+option_id}).then(function(response){
                console.log(response);
                if(response.data.data == 'error'){
                    alert(response.data.message);
                }
                if(response.data.data == 'success'){
                    alert(response.data.message);
                }
            }).catch(function(error){
                console.log(error);
            })
        },setEditOption(option){
            this.editOption = option;
            this.editOptionStatus = "Option Set";
        }

        },
        data(){
            return{
            addQuestion:[],
            addOption:[],
            editQuestion:[],
            viewOption:[],
            viewQuestion:[],
            Surveys:[],
            Questions:[],
            Question:[],
            OptionStatus:"",
            editOptionStatus:"",
            editOption:[],
            user_id:""
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.user_id = window.jQuery("#user_id").val();
            this.readSurvey();
            this.read();
        }
    }
</script>
