<template>
    <div>
        <div  v-for="survey in Surveys" :key="survey.id" :value="survey.id" class="row justify-content-center">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 grid-margin stretch-card">
                                    <survey-stats-component :Survey_id="survey.id"></survey-stats-component>
                                </div>
                                <div class="col-lg-4 grid-margin stretch-card">
                                    <survey-pie-graph-component style="width:90%; margin-left:10px; margin-right:10px; display:block;" :Survey_id="survey.id"></survey-pie-graph-component>
                                </div>
                                <div class="col-lg-4 grid-margin stretch-card">
                                    <survey-bar-graph-component style="width:90%; margin-left:10px; margin-right:10px; display:block;" :Survey_id="survey.id"></survey-bar-graph-component>
                                </div>
                                <div class="col-lg-12" >
                                    <question-chart-component class="questions" :Survey_id="survey.id"></question-chart-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
            readSurvey(){
                var that = this;
                window.axios.get("api/survey/").then(function(response){
                    that.Surveys = response.data;
                }).catch(function(error){
                    console.log(error);
                });
                window.jQuery(".questions").hide();
            },
            questionToggle(Survey_Id){
                    window.jQuery("#"+Survey_Id).toggle();
            }
        },
        data(){
            return{
                Surveys:[],
                user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.readSurvey();
            console.log('Component mounted.')
        }
    }
</script>
