<template>
        <div class="row justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Add Category</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Category Name</label>
                      <input type="text" class="form-control"  v-model="addCategory.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="categoryFile" v-on:change="categoryUpload" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="add()">Submit</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Category</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Category Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" v-model="editCategory.category_name">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Category</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Category Image</th>
                          <th colspan="2">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="category in Categorys" :key="category.id">
                          <td>{{category.category_name}}</td>
                          <td><a :href="category.category_image"><button type="submit" class="btn btn-success mr-2">Download</button></a></td>
                          <td>
                              <button type="submit" class="btn btn-primary mr-2" @click="setEdit(category)">Edit</button>
                              <button type="submit" class="btn btn-danger mr-2" @click="deleteCategory(category.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
</template>

<script>
    export default {
        methods:{
            add(){
                var formData = new FormData();
                formData.append("category_name",this.addCategory.name);
                formData.append("category_image",this.addCategory.category_image,this.addCategory.name);
                formData.append("user_id",this.user_id);
                this.addCategory = [];
                window.axios.post("api/category",formData).then(function(response){
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }
                }).catch(function(error){
                    console.log(error);
                })
            },edit(){
                var that = this;
                var id = this.editCategory.id;
                var data = {category_name:this.editCategory.category_name}

            window.axios({method:"put",url:"api/category/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }

            }).catch(function(error){
                console.log(error);
            })
            }
            ,categoryUpload(event){
                console.log(event);
                var file = event.target.files || event.dataTransfer.files;
                if (!file.length)
                    return;
                    this.addCategory.category_image = file[0];
            },read(){
            var that = this;
            window.axios.get("api/category").then(function(response){
                console.log(response);
                that.Categorys = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },
        deleteCategory(category_id){
            window.axios({method:"delete",url:"api/category/"+category_id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(category){
            console.log(this.editCategory);
            this.editCategory = category;
        }
        },data(){
            return{
            addCategory:[],
            editCategory:[],
            Categorys:[],
            user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
