<template>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Survey</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Survey Name</th>
                          <th>Survey Image</th>
                          <th colspan="2">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="survey in Surveys" :key="survey.id">
                          <td>{{survey.survey_name}}</td>
                          <td><a :href="survey.survey_image" download><button type="submit"  class="btn btn-success mr-2" >Download</button></a></td>
                          <td>
                              <button type="submit" class="btn btn-primary mr-2" @click="setEdit(survey)">Edit</button>
                              <button type="submit" class="btn btn-danger mr-2" @click="Delete(survey.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Add Survey</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" v-model="addSurvey.name">
                    </div>
                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" class="form-control" v-on:change="surveyUpload">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="add()">Submit</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Survey</h1>
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" placeholder="Name" v-model="editSurvey.survey_name">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
                </div>
              </div>
            </div>
        </div>
</template>

<script>
    export default {
              methods:{
        add(){
            var formData = new FormData();
            formData.append("survey_name",this.addSurvey.name);
            formData.append("survey_image",this.addSurvey.survey_image,this.addSurvey.name);
            formData.append("user_id",this.user_id);
            this.addsurvey = [];
        window.axios.post("api/survey",formData).then(function(response){
            console.log(response)
            if(response.data.data == 'error'){
                alert(response.data.message);
            }
            if(response.data.data == 'success'){
                alert(response.data.message);
                location.reload();
            }
        }).catch(function(error){
            console.log(error);
        })
        },surveyUpload(event){
            console.log(event);
            var file = event.target.files || event.dataTransfer.files;
            if (!file.length)
                return;
                this.addSurvey.survey_image = file[0];
        },read(){
            var that = this;
            window.axios.get("api/survey").then(function(response){
                console.log(response);
                that.Surveys = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },Delete(survey_id){
            window.axios({method:"delete",url:"api/survey/"+survey_id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(survey){
            this.editSurvey = survey;
        },edit(){
                var that = this;
                var id = this.editSurvey.id;
                var data = {
                    survey_name:this.editSurvey.survey_name,
                }
            window.axios({method:"put",url:"api/survey/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }

            }).catch(function(error){
                console.log(error);
            })
        }

      },
      data(){
        return{
          addSurvey:[],
          editSurvey:[],
          Surveys:[],
          user_id:""
        }
      },
        mounted() {
            console.log('Component mounted.')
            this.user_id = window.jQuery("#user_id").val();
            this.read();
        }
    }
</script>
