<template>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Receipt</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Mechant Name</th>
                          <th>Category</th>
                          <th>Total Amount</th>
                          <th>Total Tax</th>
                          <th>Receipt Data</th>
                          <th colspan="3">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="receipt in Receipts" :key="receipt.id">
                          <td>{{receipt.merchant_name}}</td>
                          <td>{{receipt.category_id}}</td>
                          <td>{{receipt.total_amount}}</td>
                          <td>{{receipt.total_tax}}</td>
                          <td>{{receipt.receipt_data}}</td>
                          <td>
                              <a :href="receipt.receipt_image" download><button type="submit" class="btn btn-secondary mr-2">Download</button></a>
                              <button type="submit" class="btn btn-primary mr-2" @click="setEdit(receipt)">Edit</button>
                              <button type="submit" class="btn btn-danger mr-2" @click="Delete(receipt.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Receipt</h4>
                    <div class="form-group">
                      <label for="exampleInputName1">Merchant Name</label>
                      <input type="text" class="form-control" placeholder="Merchant Name" v-model="AddReceipt.merchant_name">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Category</label>
                      <select class="form-control" rows="2" v-model="AddReceipt.category_id">
                            <option v-for="category in Categorys" :key="category.id" :value="category.id">
                                {{category.category_name}}
                            </option>

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Total Amount</label>
                      <input type="number" class="form-control" placeholder="Total Amount" v-model="AddReceipt.total_amount">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Total Tax</label>
                      <input type="number" class="form-control" placeholder="Total Tax" v-model="AddReceipt.total_tax">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Receipt Data</label>
                      <input type="text" class="form-control" placeholder="Receipt Data" v-model="AddReceipt.receipt_data">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Receipt Image</label>
                      <input type="file" class="form-control" v-on:change="receiptUpload"  >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mr-2" @click="add()">Add</button>
                    </div>

                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Receipt</h4>
                    <div class="form-group">
                      <label for="exampleInputName1">Merchant Name</label>
                      <input type="text" class="form-control" placeholder="Merchant Name" v-model="EditReceipt.merchant_name">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Category</label>
                      <select class="form-control" rows="2" v-model="EditReceipt.category_id_store">
                            <option v-for="category in Categorys" :key="category.id" :value="category.id">
                                {{category.category_name}}
                            </option>

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Total Amount</label>
                      <input type="number" class="form-control" placeholder="Total Amount" v-model="EditReceipt.total_amount">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Total Tax</label>
                      <input type="number" class="form-control" placeholder="Total Tax" v-model="EditReceipt.total_tax">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Receipt Data</label>
                      <input type="text" class="form-control" placeholder="Receipt Data" v-model="EditReceipt.receipt_data">
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
</template>

<script>
    export default {
        methods:{
            read(){
            var that = this;
            window.axios.get("api/receipt").then(function(response){
                console.log(response);
                that.Receipts = response.data;
                var receipt;
                for(receipt in that.Receipts){
                    that.getCategoryToReceipt(that.Receipts[receipt].category_id,receipt)

                }

            }).catch(function(error){
                console.log(error);
            })
        },Delete(id){
            window.axios({method:"delete",url:"api/receipt/"+id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(receipt){
            this.EditReceipt = receipt;
        },receiptUpload(event){
            var file = event.target.files || event.dataTransfer.files;
            if (!file.length)
                return;
                this.AddReceipt.receipt_image = file[0];
        },readCategories(){
            var that = this;
            window.axios.get("api/category").then(function(response){
                console.log(response);
                console.log(response.data);
                that.Categorys = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },add(){
            console.log(this.AddReceipt);
            var formData = new FormData();
            formData.append("merchant_name",this.AddReceipt.merchant_name);
            formData.append("total_amount",this.AddReceipt.total_amount);
            formData.append("total_tax",this.AddReceipt.total_tax);
            formData.append("category_id",this.AddReceipt.category_id);
            formData.append("receipt_data",this.AddReceipt.receipt_data);
            formData.append("receipt_image",this.AddReceipt.receipt_image,this.AddReceipt.merchant_name);
            formData.append("user_id",this.user_id);
            this.AddReceipt = [];
        window.axios.post("api/receipt",formData).then(function(response){
            console.log(response)
            if(response.data.data == 'error'){
                alert(response.data.message);
            }
            if(response.data.data == 'success'){
                alert(response.data.message);
                location.reload();
            }
        }).catch(function(error){
            console.log(error);
        })
        },edit(){
             var that = this;
                var id = this.EditReceipt.id;
                var data = {
                    merchant_name:this.EditReceipt.merchant_name,
                    total_amount:this.EditReceipt.total_amount,
                    total_tax:this.EditReceipt.total_tax,
                    category_id:this.EditReceipt.category_id_store,
                    receipt_data:this.EditReceipt.receipt_data,
                }
            window.axios({method:"put",url:"api/receipt/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }

            }).catch(function(error){
                console.log(error);
            })
        }
        ,getCategoryToReceipt(id,receipt_id){
            var that = this;
            window.axios.get("api/category/"+id).then(function(response){
                that.Receipts[receipt_id].category_id_store = id;
                that.Receipts[receipt_id].category_id = response.data.category_name;
            }).catch(function(error){
                console.log(error)
            })
        }
        },
      data(){
        return{
            Receipts:[],
            AddReceipt:[],
            EditReceipt:[],
            Categorys:[],
            user_id:""
        }
      },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            this.readCategories();
            console.log('Component mounted.')
        }
    }
</script>
