<template>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="mdi mdi-cube text-danger icon-lg"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Surveys</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">{{Surveys.length}}</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="mdi mdi-receipt text-warning icon-lg"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Products</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">{{Products.length}}</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="mdi mdi-poll-box text-success icon-lg"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Videos</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">{{Videos.length}}</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="clearfix">
                <div class="float-left">
                <i class="mdi mdi-account-location text-info icon-lg"></i>
                </div>
                <div class="float-right">
                <p class="mb-0 text-right">Questions</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">{{Questions.length}}</h3>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        methods:{
            readSurvey(){
                var that = this;
                window.axios.get("api/survey/"+that.user_id+"/user").then(function(response){
                    console.log(response);
                    that.Surveys = response.data;
                }).catch(function(response){
                    console.log(response)
                })
            },
            readProduct(){
                var that = this;
                window.axios.get("api/product/"+that.user_id+"/user").then(function(response){
                    console.log(response);
                    that.Products = response.data;
                }).catch(function(response){
                    console.log(response)
                })
            },
            readVideo(){
                var that = this;
                window.axios.get("api/video/"+that.user_id+"/user").then(function(response){
                    console.log(response);
                    that.Videos = response.data;
                }).catch(function(response){
                    console.log(response)
                })
            },
            readQuestion(){
                var that = this;
                window.axios.get("api/question/"+that.user_id+"/user").then(function(response){
                    console.log(response);
                    that.Questions = response.data;
                }).catch(function(response){
                    console.log(response)
                })
            },
        },
        data(){
            return{
                Surveys:[],
                Products:[],
                Videos:[],
                Questions:[],
                user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.readSurvey();
            this.readQuestion();
            this.readProduct();
            this.readVideo();
            console.log('Component mounted.')
        }
    }
</script>
