<template>
    <div class="row justify-content-center">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Adverts</h4>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Advert Name</th>
                        <th>Description</th>
                        <th>Advert Image</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="advert in Adverts" :key="advert.id">
                        <td>{{advert.advert_name}}</td>
                        <td>{{advert.description}}</td>
                        <td><a :href="advert.advert_image" download><button type="submit" class="btn btn-success mr-2">Download</button></a></td>
                        <td>
                            <button type="submit" class="btn btn-primary mr-2" @click="setEdit(advert)">Edit</button>
                            <button type="submit" class="btn btn-danger mr-2">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h1 class="card-title">Add Advert</h1>
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" v-model="addAdvert.name">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="2" v-model="addAdvert.description"></textarea>
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="advertFile" class="form-control" v-on:change="advertUpload">
                </div>
                <button type="submit" class="btn btn-success mr-2" @click="add()">Submit</button>
            </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h1 class="card-title">Edit Advert</h1>
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" v-model="editAdvert.advert_name">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="2" v-model="editAdvert.description"></textarea>
                </div>
                <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
            add(){
            var formData = new FormData();
            formData.append("advert_name",this.addAdvert.name);
            formData.append("description",this.addAdvert.description);
            formData.append("user_id",this.user_id);
            formData.append("advert_image",this.addAdvert.advert_image,this.addAdvert.name);
            this.addAdvert = [];
        window.axios.post("api/advert",formData).then(function(response){
            console.log(response)
            if(response.data.data == 'error'){
                alert(response.data.message);
            }
            if(response.data.data == 'success'){
                alert(response.data.message);
                location.reload();
            }
        }).catch(function(error){
            console.log(error);
        })
        },advertUpload(event){
            var file = event.target.files || event.dataTransfer.files;
            if (!file.length)
                return;
                this.addAdvert.advert_image = file[0];
        },read(){
            var that = this;
            window.axios.get("api/advert/"+that.user_id+"/user").then(function(response){
                console.log(response);
                that.Adverts = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },Delete(id){
            window.axios({method:"delete",url:"api/advert/"+id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(advert){
            this.editAdvert = advert;
        },edit(){
             var that = this;
                var id = this.editAdvert.id;
                var data = {
                    advert_name:this.editAdvert.advert_name,
                    description:this.editAdvert.description
                }
            window.axios({method:"put",url:"api/advert/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                    }

            }).catch(function(error){
                console.log(error);
            })
        }
        },
        data(){
            return{
                addAdvert:[],
                editAdvert:[],
                Adverts:[],
                user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
