<template>
    <div class="row justify-content-center">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Product</h4>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Product Stock</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in Products" :key="product.id">
                        <td>{{product.product_name}}</td>
                        <td>{{product.category_id}}</td>
                        <td>{{product.product_stock}}</td>
                        <td>
                            <button type="submit" class="btn btn-primary mr-2" @click="setEdit(product)">Edit</button>
                            <button type="submit" class="btn btn-danger mr-2">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h1 class="card-title">Add Product</h1>
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" placeholder="Name" v-model="addProduct.name">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Category</label>
                    <select class="form-control" rows="2" v-model="addProduct.category">
                        <option v-for="category in Categorys" :key="category.id" :value="category.id">
                            {{category.category_name}}
                        </option>

                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Product Stock" v-model="addProduct.stock">
                </div>
                <button type="submit" class="btn btn-success mr-2" @click="add()">Submit</button>
            </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">Edit Product</h1>
                    <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" v-model="editProduct.product_name">
                    </div>
                    <div class="form-group">
                    <label for="exampleTextarea1" >Category</label>
                    <select class="form-control" id="exampleTextarea1" rows="2" v-model="editProduct.category_id_store">
                        <option v-for="category in Categorys" :key="category.id" :value="category.id">
                            {{category.category_name}}
                        </option>
                    </select>
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Stock" v-model="editProduct.product_stock">
                    </div>
                    <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
        add(){
            var formData = new FormData();
            formData.append("product_name",this.addProduct.name);
            formData.append("product_stock",this.addProduct.stock);
            formData.append("category_id",this.addProduct.category);
            formData.append("user_id",this.user_id);
            this.addAdvert = [];
        window.axios.post("api/product",formData).then(function(response){
            console.log(response)
            if(response.data.data == 'error'){
                alert(response.data.message);
            }
            if(response.data.data == 'success'){
                alert(response.data.message);
                location.reload();
            }
        }).catch(function(error){
            console.log(error);
        })
        },readCategories(){
            var that = this;
            window.axios.get("api/category").then(function(response){
                console.log(response);
                console.log(response.data);
                that.Categorys = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },read(){
            var that = this;
            window.axios.get("api/product/"+that.user_id+"/user").then(function(response){
                console.log(response);
                that.Products = response.data;
                var product;
                for(product in that.Products){
                    that.getCategoryToProduct(that.Products[product].category_id,product)

                }
            }).catch(function(error){
                console.log(error);
            })
        },getCategoryToProduct(id,product_id){
            var that = this;
            window.axios.get("api/category/"+id).then(function(response){
                that.Products[product_id].category_id_store = id;
                that.Products[product_id].category_id = response.data.category_name;
            }).catch(function(error){
                console.log(error)
            })
        },Delete(id){
            window.axios({method:"delete",url:"api/product/"+id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        },setEdit(product){
            this.editProduct = product;
        },edit(){
                var that = this;
                var id = this.editProduct.id;
                var data = {
                    product_name:this.editProduct.product_name,
                    product_stock:this.editProduct.product_stock,
                    category_id:this.editProduct.category_id_store,
                }
            window.axios({method:"put",url:"api/product/"+id,data:data}).then(function(response){
                    console.log(response)
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }

            }).catch(function(error){
                console.log(error);
            })
        }
        },
        data(){
            return{
                addProduct:[],
                editProduct:[],
                Categorys:[],
                Products:[],
                CategoryProduct:[],
                user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            this.readCategories();
            console.log('Component mounted.')
        }
    }
</script>
