<template>
    <div class="row justify-content-center">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Video</h4>
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" placeholder="Title" v-model="addVideo.title">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Genre</label>
                    <select class="form-control" rows="2" v-model="addVideo.genre_id">
                        <option v-for="genre in Genres" :key="genre.id" :value="genre.id">
                            {{genre.genre_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">File</label>
                    <input type="File" class="form-control" placeholder="video" v-on:change="videoUpload">
                </div>
                <button type="submit" class="btn btn-success mr-2" @click="add()">Add</button>
            </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Video</h4>
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" placeholder="Title" v-model="editVideo.title">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Genre</label>
                    <select class="form-control" rows="2" v-model="editVideo.genre_id">
                        <option v-for="genre in Genres" :key="genre.id" :value="genre.id">
                            {{genre.genre_name}}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mr-2" @click="edit()">Edit</button>
            </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Video</h4>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th colspan="3">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="video in Videos" :key="video.id">
                        <td>{{video.title}}</td>
                        <td>{{video.author}}</td>
                        <td>{{video.genre}}</td>
                        <td>
                            <a :href="video.video_link" download><button type="submit" class="btn btn-primary mr-2">Download</button></a>
                            <button type="submit" class="btn btn-danger mr-2" @click="SetEdit(video.id)">Edit</button>
                            <button type="submit" class="btn btn-danger mr-2" @click="Delete(video.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
                add(){
                var formData = new FormData();
                formData.append("genre_id",this.addVideo.genre_id);
                formData.append("title",this.addVideo.title);
                formData.append("video_link",this.addVideo.video_link,this.addVideo.title);
                formData.append("author",this.user_id);
                this.addVideo = [];
                window.axios.post("api/video",formData).then(function(response){
                    if(response.data.data == 'error'){
                        alert(response.data.message);
                    }
                    if(response.data.data == 'success'){
                        alert(response.data.message);
                        location.reload();
                    }
                }).catch(function(error){
                    console.log(error);
                })
            },
            read(){
                var that = this;
                window.axios.get("api/video/"+that.user_id+"/user").then(function(response){
                    console.log(response);
                    that.Videos = response.data;

                }).catch(function(error){
                    console.log(error);
                })
            }
            ,readGenres(){
            var that = this;
            window.axios.get("api/genre").then(function(response){
                console.log(response);
                that.Genres = response.data;

            }).catch(function(error){
                console.log(error);
            })
        },
        videoUpload(event){
                console.log(event);
                var file = event.target.files || event.dataTransfer.files;
                if (!file.length)
                    return;
                    this.addVideo.video_link = file[0];
        },setEdit(video){
            console.log(this.editVideo);
            this.editVideo = video;
        },
        deleteVideo(video_id){
            window.axios({method:"delete",url:"api/video/"+video_id}).then(function(response){
                console.log(response);
                location.reload();
            }).catch(function(error){
                console.log(error);
            })
        }
        },
        data(){
            return{
                Videos:[],
                Genres:[],
                addVideo:[],
                editVideo:[],
                user_id:""
            }
        },
        mounted() {
            this.user_id = window.jQuery("#user_id").val();
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
