<template>
    <div>
        <button class="btn btn-info" @click="toggleDiv()">View Question Stats</button>
        <br>
        <div v-if="toogleElement">
            <div class="row" v-for="question in Questions" :key="question.id" :value="question.id">

                <div class="col-lg-4">
                    Question:  {{question.question_content}}
                    <br><br>
                    Answer:type {{question.answer_type}}
                    <br>
                    {{question.Option}}
                    <br>
                    <p v-for="option in Option" :key="option.id" :value="option.id">
                        Option Content: {{option.option_content}}
                    </p>
                </div>
                <div class="col-lg-4">
                    <question-pie-graph-component style="width:90%; margin-left:10px; margin-right:10px; display:block;" :Question_id="question.id"></question-pie-graph-component>
                </div>
                <div class="col-lg-4">
                    <question-bar-graph-component style="width:90%; margin-left:10px; margin-right:10px; display:block;" :Question_id="question.id"></question-bar-graph-component>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            Survey_id: {
                type: String,
                required: true
            }
        },
        methods:{
            toggleDiv(){
                this.toogleElement = !this.toogleElement;
            },
            read(){
                var that = this;
            window.axios.get("api/question/"+that.Survey_id+"/survey").then(function(response){
                that.Questions = response.data;
                for(var questionNumber in that.Questions){
                    that.getOptionsFromQuestions(that.Questions[questionNumber].id);
                }

            }).catch(function(error){
                console.log(error);
            })
            },getOptionsFromQuestions(id){
            var that = this;
            window.axios.get("api/option/"+id+"/question").then(function(response){
                that.Option = response.data;
            }).catch(function(error){
                console.log(error);
            })
        }
        },data(){
            return{
                Questions:[],
                Option:[],
                toogleElement:false,

            }
        },
        mounted() {
            this.read();
            console.log('Component mounted.')
        }
    }
</script>
