<template>
    <div>
        <h3 class="card-title">{{survey.survey_name}}</h3>
        <p>Answered Questions: {{TotalQuestions}}</p>
        <p>Average Answers Rate: {{AverageAnswerRate}}%</p>
        <p>Unique Users: {{UniqueUsers}}</p>
        <br>
        <button class="btn btn-primary" @click="csvGenerator()">Download CSV</button>
        <a :id="survey.id"></a>
    </div>
</template>

<script>
    export default {
         props:{
            Survey_id: {
                type: String,
                required: true
            }
        },methods:{
            readTotalQuestionsAnswered(){
                var that = this;
                window.axios.get("api/survey/"+that.Survey_id+"/report").then(function(response){
                    that.TotalQuestions = response.data[0].numberOfAnswers;
                }).catch(function(error){
                    console.log(error);
                })
            },
            readAverageAnswerRate(){
                    var that = this;
                window.axios.get("api/survey/"+that.Survey_id+"/answer").then(function(response){
                    console.log(response);
                    that.AverageAnswerRate = Math.round(response.data[0].averageAnswerRate,2);

                }).catch(function(error){
                    console.log(error);
                })
            },
            readUniqueUsers(){
                    var that = this;
                window.axios.get("api/survey/"+that.Survey_id+"/uniqueUsers").then(function(response){
                    that.UniqueUsers = response.data[0].uniqueUsers;

                }).catch(function(error){
                    console.log(error);
                })
            },readSurvey(){
                var that = this;
            window.axios.get("api/survey/"+that.Survey_id).then(function(response){
                that.survey = response.data;
            }).catch(function(error){
                console.log(error);
            })
            },csvGenerator(){
                    var that = this;
                window.axios.get("api/survey/"+that.Survey_id+"/csv").then(function(response){
                    console.log(response);
                    var content = [];
                    content.push(["question_content","answer_type","question_created_time","user_answer","answer_created_time"]);
                    for(var item in response.data){
                        content.push([response.data[item].question_content,response.data[item].answer_type,response.data[item].question_created_time,response.data[item].user_answer,response.data[item].answer_created_time]);
                    }
                    let csvContent = "data:text/csv;charset=utf-8," + content.map(e=>e.join(",")).join("\n");
                    var encodedUri = encodeURI(csvContent);
                    var link = document.createElement("a");
                    link.setAttribute("href", encodedUri);
                    link.setAttribute("download", "my_data.csv");
                    document.body.appendChild(link);
                    link.click();
                }).catch(function(error){
                    console.log(error);
                })
            }
        },
        mounted() {
            this.readTotalQuestionsAnswered();
            this.readUniqueUsers();
            this.readAverageAnswerRate();
            this.readSurvey();
            console.log('Component mounted.')
        },
        data(){
            return{
                TotalQuestions:0,
                AverageAnswerRate:0,
                UniqueUsers:0,
                survey:[]
            }
        }
    }
</script>
